# This is a sample configuration file for code_swarm

# Frame width
Width=1280

# Frame height
Height=720

# Input file
InputFile=log.xml

#Font Settings
Font=SansSerif
FontSize=14
BoldFontSize=14

# Project time per frame
MillisecondsPerFrame=21600000

# Maximum number of background processes
# Probably no more than 2 per processor needed.
# N.B. If you're taking snapshots, increasing this
# number will noticably increase memory usage.
MaxThreads=8

# Optional Method instead of MillisecondsPerFrame
#FramesPerDay=4

# Background in R,G,B
Background=0,0,0

# Color assignment rules
# Keep in order, do not skip numbers. Numbers start
# at 1.
#
# Pattern:  "Label", "regex", R,G,B, R,G,B
# Label is optional.  If it is omitted, the regex
# will be used.
#
ColorAssign1="Tests",".*test.*", 90,90,225, 90,110,200
ColorAssign2="Localizations","(.*(\.mo|\.po|\.xml))|(.*\.lproj.*)", 90,225,225, 110,200,200
ColorAssign3="Images",".*(\.png|\.jpg|\.gif|\.jpeg)", 225,90,90, 200,90,110
ColorAssign4="C/C++/ASM",".*(\.c|\.cpp|\.h|\.d|\.s|\.S|\.neon|\.arm)", 90,225,90, 110,200,90
ColorAssign5="Java/Android",".*\.java", 150,255,10, 150,230,90
ColorAssign6="Obj-C/iOS",".*(\.m|\.h)", 10,225,200, 10,200,190
ColorAssign7="Ruby/Web",".*\(\.rb|\.yml)", 180,0,180, 190,10,190
ColorAssign8="HTML/CSS/JS",".*(\.erb|\.js|\.css|\.html)", 10,150,0, 10,180,0


# Save each frame to an image?
TakeSnapshots=true

# Where to save each frame
SnapshotLocation=frames/#####.png

# Draw names (combinatory) :
# Draw sharp names?
DrawNamesSharp=true
# And draw a glow around names? (Runs slower)
DrawNamesHalos=true

# Draw files (combinatory) :
# Draw sharp files
DrawFilesSharp=true
# Draw fuzzy files
DrawFilesFuzzy=true
# Draw jelly files
DrawFilesJelly=true

# Show the Legend at start
ShowLegend=true

# Show the History at start
ShowHistory=true

# Show the Date at start
ShowDate=true

# Show edges between authors and files, mostly for debug purpose
ShowEdges=true

# Turn on Debug counts.
ShowDebug=false

# Natural distance of files to people
EdgeLength=25

# Amount of life to decrement
EdgeDecrement=-2
FileDecrement=-2
PersonDecrement=-1

#Speeds.
#Optional: NodeSpeed=7.0, If used, FileSpeed and PersonSpeed need not be set.
#
FileSpeed=7.0
PersonSpeed=2.0

#Masses
FileMass=1.0
PersonMass=10.0

# Life of an Edge
EdgeLife=250

# Life of a File
FileLife=200

# Life of a Person
PersonLife=255

# Highlight percent.
# This is the amount of time that the person or
# file will be highlighted.
HighlightPct=5

## Physics engine selection and configuration
# Directory physics engine config files reside in.
PhysicsEngineConfigDir=physics_engine
# Force calculation algorithms ("PhysicsEngineLegacy", "PhysicsEngineSimple"...) :
PhysicsEngineSelection=PhysicsEngineOrderly

#Is the input xml sorted by date?  It's faster and uses much less memory if it is
IsInputSorted=false

# OpenGL is experimental. Use at your own risk.
UseOpenGL=false
ShowUserName=true

# Uncomment to not use avatars
#AvatarFetcher=NoAvatar

# To use local avatars, uncomment this line:
#AvatarFetcher=LocalAvatar

# then place png files named after the usernames of committers in
# the data/local_avatars directory
# data/local_avatars/default.png is used by default
